html, body{
    height: 100%;
    width: 100%;
    background: lightgray;
    /* background-image: url("12888.jpg"); */
}
*{
    margin: 0;
    padding: 0;
}

/* div {
    display: flex;
    justify-content: center;
    padding-top: 17%;
    font-size: 10;
  } */

button {
    display: block;
    margin: auto;
    justify-content: center;
}

.yellow{
    background-color: yellow;
    color: purple;
}

.red{
    background-color: red;
    color: white;
}

.text-dark{
    color: black;
}
/* nav{
    display: flex;
    background-color: red;

}

nav, li{
    list-style: none;
    padding: 0 23px;    
} */